<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <Filters>
                <RegexFilter regex=".*The lower layer did not produce a data stream.*"
                             onMatch="DENY"
                             onMismatch="NEUTRAL"/>
                <RegexFilter regex=".*Not enough certificates provided for certificate chain config.*"
                             onMatch="DENY"
                             onMismatch="NEUTRAL"/>
                <RegexFilter regex=".*DEBUG.*"
                             onMatch="ACCEPT"
                             onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%highlight{%d{HH:mm:ss} [%t] %-5level : %logger{3}} - %msg%n%throwable"/>
        </Console>
        <!-- <File name="FileAppender" fileName="application-${date:yyyyMMdd}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File> -->
    </Appenders>
    <Loggers>
        <Logger name="de.rub.nds.tlsattacker" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <!-- Application Loggers -->
        <Logger name="com.github.protocolfuzzing.protocolstatefuzzer" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
